.pageRoot{
  position: relative;
  height: 100vh;
  background-color: #E0E0E0;
  display: flex;
  flex-direction: column;
}
.buttonTypeText{
  font-size: 1em;
  font-weight: 500;
}
.pageTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 3em;
}
.signUpbtnWrapper{
  display: flex;
  gap: 20px;
  white-space: nowrap;
  align-items: center;
}
.signUpBtn{
  width: 100px;
}
.loginBody{
display: flex;
align-items: center;
justify-content: center;
position: relative;
margin: 1em;
z-index: 1;
flex: 1px;
}
.imageBg{
  position: absolute;
  bottom: 0;
}


/* ----------------------------------------------------------------------------------------------
                            Media Query
---------------------------------------------------------------------------------------------- */

@media  (max-width: 970px) {
  .buttonTypeText{
    display: none;
  }
.pageTop{
  padding: 1em;
}
}
