.pageRoot{
  padding: 2em 3em;
  height: 90Vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.mainBody{
  flex: 1;
  overflow: scroll;
  padding: 20px 0;
}
.emptyList{
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.emptyList h3{
  font-size: 1.5em;
  font-weight: 500;
  opacity: .7;
}
/* ------------------------------------------------------------------------------------------------
                              MEDIA QUERY
------------------------------------------------------------------------------------------------ */

@media (max-width: 970px) {
  .pageRoot{
    padding: 1em .8em;
  }
}