.dashboardRoot{
  padding: 2em 2.7em;
  height: 85%;
  display: flex;
  flex-direction: column;
}
.userName{
  font-size: 1.4em;
  font-weight: 300;
}
.wlcBack{
  font-size: 1.7em;
  font-weight: 600;
  margin-top: 10px;
}
.dashboardBody{
  display: flex;
  gap: 15px;
  flex: 1;
}
.leftBodySection{
  flex: 2.5;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  overflow: scroll;
  height: 86%;
}
.rightBodySection{
  flex: 1;
  background-color: #ffffff;
  padding: 15px;
  overflow: scroll;
  height: 86%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.taskBreakdown{
  background-color: #E0E0E0;
  width: 85%;
}
.taskGroupings{
  display: flex;
  gap: 15px;
}
.todoTasks{
  background-color: #FFD8D8;
}
.inProgress{
  background-color: #fdf5e0;
}
.completed{
  background-color: #e7f8f6;
}
.sectionTitle{
  margin-top: 2.5em;
  font-weight: 500;
}
.noTaskNotice{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noTaskNotice h3{
  font-size: 2em;
  font-weight: 600;
  opacity: .7;
}

/* ----------------------------------------------------------------------------------------------
                            Media Query
---------------------------------------------------------------------------------------------- */

@media  (max-width: 970px) {
  .dashboardBody{
    flex-Direction: column;
  }
}
@media  (max-width: 680px) {
  .taskGroupings{
    flex-wrap: wrap;
  }
  .leftBodySection{
  }
  .rightBodySection{
  }
  .dashboardRoot{
    overflow: scroll;
    padding: 1.5em 1em;
  }
}