.pageRoot{
  position: relative;
  height: 100vh;
  /* background-color: #E0E0E0; */
  display: flex;
  flex-direction: column;
}
.buttonTypeText{
  font-size: 1em;
  font-weight: 500;
}
.loginBody{
display: flex;
/* align-items: center; */
justify-content: center;
position: relative;
margin: 1em;
z-index: 1;
flex: 1px;
}
.imageBg{
  position: absolute;
  bottom: 0;
}

.taskTitleInput{
  /* border: none; */
  width: 95%;
  /* background-color: #F4F5F9; */
}
.form{
  width: 80%;
}
.inputRow{
  display: flex;
  gap: 20px;
}
.inputWrap{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  flex: 1;
}
.taskTitleInput::placeholder{
  font-weight: 100;
}
.textarea{
  /* border: none; */
  width: 95% !important;
  /* background-color: #F4F5F9; */
}


/* ----------------------------------------------------------------------------------------------
                            Media Query
---------------------------------------------------------------------------------------------- */

@media  (max-width: 970px) {
  .buttonTypeText{
    display: none;
  }
.pageTop{
  padding: 1em;
}
.inputRow{
  flex-direction: column;
}
}
