.inputField{
  font-size: 1.3em;
  width: 95%;
  height: 90%;
}
.inputField::placeholder{
  font-size: .8em !important;
  font-weight: 100;
  padding: 5px 10px;
}
.inputWrapper{
  position: relative;
  height: 40px;
  width: 100%;

}
.passwordEndIcon{
  position: absolute;
  right: 10px;
  top: 5px;
  height: 100%;
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  width: 50px;
  cursor: pointer;
}
.passwordEndIcon > *{
  font-size: 23px;
  font-weight: 200;
}