.pageRoot{
  padding: 15px;
  margin-top: 15px;
  background-color: #FFFFFF;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.pageRoot:hover{
/* transform: scale(1.01); */
}
.bodyLeft{
  display: flex;
  align-items: center;
  gap: 10px;
}
.imageWrapper{
  height: 50px;
  width: 50px;
}
.memberName{
  font-size: 1em;
  font-weight: 700;
}
.memberEmail{
  font-size: .9em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.503);
}
.memberNumber{
  margin-top: 5px;
    font-size: 1em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.503);
}
.deleteBtn{
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}